body{
    background-color: lightcyan;
    color:white;
    background-image:url(../images/flower.png);
    font-family:Futura,sans-serif ;

}
.textpage{
    background-color:white;
    background-image: none;
}
p {
    color: black;
    margin-top:0px;
    margin-bottom:25px;
    line-height: 1.4;
    font-style:italic;
    font-weight: bold;

}
.bold {
    text-decoration:underline;
    text-transform: uppercase;

}
.intro{
    font-size: 20px;
}

.highlight{
    background-color: yellow;

}
.accent-color{
    color:white;
}
h1{
    color:orchid;
    font-size: 50px;
    margin-bottom:0px;

    
}
h3{ 
    color:black;
    margin-top:0px;
}
div{
    background:lightpink;
    width:500px;
    
    
    
}
span{
    color:chocolate;
    font-size: 30px;
}
.top-section{
    background-color: pink;

}
.bottom-section{
    background-color: blue;

}

/* css box model is starting here */
/* margin
   border
   padding are three main part of box model  
   these all add together on top of width to make the box model
*/

.box{

    background-image: url(../images/hello.png);
    width:300px;
    margin:50px;
    border:5px solid red;
    background-repeat:repeat-x ;
    background-size:cover;
    background-position:center;
    
   
    padding:50px;
    
}