body{
    background-color: lightcyan;
    color:white;
    background-image:url(../images/flower.png)

}
p {
    color: black;


}
.intro{
    font-size: 20px;
}

.highlight{
    background-color: yellow;

}
.accent-color{
    color:white;
}
h1{
    color:orchid;
    font-size: 50px;
    
}
div{
    background:lightpink;
    width:500px;
    
    
    
}
span{
    color:chocolate;
    font-size: 30px;
}
.top-section{
    background-color: pink;

}
.bottom-section{
    background-color: blue;

}

/* css box model is starting here */
/* margin
   border
   padding are three main part of box model  
   these all add together on top of width to make the box model
*/

.box{

    background-image: url(../images/hello.png);
    width:300px;
    margin:50px;
    border:5px solid red;
    background-repeat:repeat-x ;
    background-size:cover;
    background-position:center;
    
   
    padding:50px;
    
}